body {
  font-family: 'Barlow Semi Condensed', sans-serif !important; 
  background: #FFFBF5;
}

span:nth-child(1) {
  color: #D9998B;
}

span:nth-child(2) {
  color: #468886;
}
span:nth-child(3) {
  color: #7CA0B0;
}
span:nth-child(4) {
  color: #EDD0B5;
}

.container {
  margin: 1em;
}

.logo {
  max-width: 300px !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.title span {
  font-size: 80px;
  font-weight: 700;
}

.item-exp {
  padding-left: 25px !important;
}

.menu-title,
.menu-title p {
  font-size: 48px;
  padding-top: 20px;
}

.hair {
  color: #45778F;
}

.combo {
  color: #D9998B;
}

.add-on {
  color: #468886;
}

.care,
.color {
  color: #7CA0B0;
}

.art {
  color: #468886;
}

.logo-icon {
  max-width: 30px;
}

@media (min-width: 700px) {
  .title span {
    font-size: 8rem;
  }

  .item-name,
  .item-price,
  .item-exp,
  .item-time {
    font-size: 1.5rem;
  }
}